<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
<body class="bg-light">

<div layout:fragment="content">

  <h2 class="mb-4 text-center">Gestión de Proveedores</h2>

  <div class="mb-3 text-end">
    <a th:href="@{/admin/proveedores/crear}" class="btn btn-success">+ Nuevo Proveedor</a>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>RUC</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${proveedores}">
      <td th:text="${p.id}"></td>
      <td th:text="${p.ruc}"></td>
      <td th:text="${p.nombre}"></td>
      <td th:text="${p.direccion}"></td>
      <td th:text="${p.telefono}"></td>
      <td th:text="${p.estado}"></td>
      <td>
        <a th:href="@{'/admin/proveedores/editar/' + ${p.id}}" class="btn btn-sm btn-warning">Editar</a>
        <a th:href="@{'/admin/proveedores/eliminar/' + ${p.id}}" class="btn btn-sm btn-danger"
           onclick="return confirm('¿Estás seguro?')">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/admin}" class="btn btn-secondary mt-3">← Volver al Panel</a>

</div>

</body>
</html>